html {
  /*font-family: 'Kanit', sans-serif; */
  
  /*font-family: 'Bevan', cursive;*/

  /*font-family: 'Coda', cursive;*/

  /*font-family: 'Anton', sans-serif;*/

  /*font-family: 'Teko', sans-serif;*/
  
  font-family: 'Alef', sans-serif;


}

header {

}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  font-color: white;
  background-color: black;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: black;
  font-color: white;
}